.settingsInputList {
  list-style: none;
}

.settingsInputList li {
  margin-bottom: 5px;
}

.settingsInputTag div.ui.tag {
  width: 148px;
}

.settingsInputTag div:after {
  left: 10.25em !important;
}

.settingsInputTag input {
  width: 85px;
}

.settingsInputTag div:before {
  transform: translateY(-50%) translateX(727%) rotate(-45deg)!important;
  -webkit-transform: translateY(-50%) translateX(727%) rotate(-45deg)!important;
}
