.Icon {
  color: white;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon > svg {
  width: inherit;
  height: inherit;
  max-width: 1.5em;
  max-height: 1.5em;
}
