:root {
  --white: #fff;
  --red: #df4a76;
  --black: #292f33;
  --image-width: 25px;
}

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  color: var(--red);
}

.panel {
  background-color: var(--white);
  border-bottom-color: #e1e8ed;
  border-bottom-style: solid;
}

.head {
  height: 30px;
  color: black;
}

.site_icon, .site_info {
  float: left;
  margin: 2.5px 2.5px 2.5px 2.5px;
}

.date {
  float: right;
  margin: 2.5px 2.5px 2.5px 2.5px;
  color:#BDC3C7;
  font-size: smaller;
}

.site_icon {
  width: inherit;
  height: var(--image-width);
  -webkit-border-radius: var(--image-width);
}

.site_info {
  vertical-align: middle;
}

.main {
  padding-left: 2em;
}
