:root {
  --white: #fff;
  --red: #df4a76;
  --black: #292f33;
  --image-width: 25px;
  --home-icon-size: 25px;
  --sidebar-width: 3em;
  --main-width: 89vw;
  --side-icon-size: 2em;
  /*--main-width: 100%;*/
}

body {
  background-color: var(--black);
  color: var(--white);
  -webkit-app-region: drag;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--red);
}

.panel {
  background-color: var(--white);
  border-bottom-color: #e1e8ed;
  border-bottom-style: solid;
}

.header {
  height: 50px;
  position: fixed;
  width: var(--main-width);
  /* 位置(上0px) */
  top: 0px;
  background-color: #e1e8ed;
  /*margin-left: var(--sidebar-width);*/
  left: 56px;
  z-index: 10;
}

.header-content {
  height: 50px;
  width: 100%;
  color: var(--black);
  /*display: table-cell;
  vertical-align: middle;*/
}

.header-content * {
  float: left;
  margin-top: 12px;
  margin-bottom: 12px;
}

.home {
  height: var(--home-icon-size);
  width: var(--home-icon-size);
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  cursor: hand;
  -webkit-app-region: no-drag;
}

h1 {
  font-size: 24px;
}

.body-content {
  padding-top: 42px;
  width: var(--main-width);
  /*left: var(--sidebar-width);*/
  margin-left: var(--sidebar-width);
  position: relative;
  -webkit-app-region: no-drag;
}

.head {
  height: 30px;
  color: black;
}

.site_icon, .site_info {
  float: left;
  margin: 2.5px 2.5px 2.5px 2.5px;
}

.date {
  float: right;
  margin: 2.5px 2.5px 2.5px 2.5px;
  color: #BDC3C7;
  font-size: smaller;
}

.site_icon {
  width: inherit;
  height: var(--image-width);
  -webkit-border-radius: var(--image-width);
}

.site_info {
  vertical-align: middle;
}

.main {
  padding-left: 2em;
}

.sidebar {
  float: left;
  height: 100vh;
  width: var(--sidebar-width);
  /*position: fixed;*/
}

.sidefixed {
  position: fixed;
}

.sideicon {
  height: var(--side-icon-size);
  width: var(--side-icon-size);
  margin-left: 3px;
  /*position: fixed;*/
  -webkit-app-region: no-drag;
  margin-bottom: 1em;
  cursor: pointer;
  cursor: hand;
}

.sidetime {
  position: fixed;
      bottom: 5px;
  left: 7px;
  font-size: 12px;
}

.rss {
  color: orange;
}

.delete {
  color: red;
}

.info{
  color:#2db6f4;
}

.__react_component_tooltip {
  pointer-events: all !important;
}

.updated {
  margin-top: 16px;
  margin-bottom: 16px;
  float: right;
}

.rssList{
  list-style: none;
}
